*, body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
}
html, body {
  height: 100%;
  background-image: radial-gradient(#FFBE2C 2%, transparent 2%), radial-gradient(#FFBE2C 2%, transparent 2%);
  background-position: 0px 0px, 60px 60px;
  background-size: 120px 120px;
  background-color: rgb(57, 12, 79);
}
